body {
    margin: 0;
}

.banner {
    display: flex;
    width: 100vw;
    height: 20vh;
    background: black;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .banner {
        height: 15vh;
    }
}

.container {
    width: 100vw;
    height: 90vh;
    background: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1,
.box2 {
    display: flex;
    height: 80vh;
    width: 40vw;
    background: coral;
    align-items: center;
    
}

.article {
    width: 80vw;
    height: 40vh;
    background: darkkhaki;
    
}

.button {
    width: 80vw;
    height: 20vh;
    background: darkred;
}