.header_back {
    background: blue;
    width: vw;
    height: 4rem;
}

.menu1 {
    background: orange;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    left: -1;
}
.boxes {
    position: relative;
}
.box1 {
    background: blueviolet;
    width: 5rem;
    height: 5rem;
}

.box2 {
    background: green;
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 5rem;
    bottom: 5rem;
}

.box3 {
    background: orange;
    width: 5rem;
    height: 5rem;
}

