.header_back {
    background: blue;
    width: vw;
    height: 4rem;
}

.menu1 {
    background: orange;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 2rem;
    left: -1;
}

.boxes {
    position: absolute;
}

.box1 {
    background: blueviolet;
    width: 10rem;
    height: 10rem;
}

.box2 {
    background: green;
    width: 10rem;
    height: 10rem;
    position: relative;
    left: 10rem;
    bottom: 10rem;
}

.box3 {
    background: orange;
    width: 10rem;
    height: 10rem;
}

